.main{
    padding: 100px;
}
h2{
    color: green;
    align-items: center;
    padding: 20px;
    display: center;
    text-align: center;
}

h4{
    color: green;
}

.cursos-basicos-estrutura1{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: inherit;
}
.agrome-conteudo{
    background-color: white;
    display: none;
    position: absolute;
    max-width: 40vw;
    top: 1080px;
}
.agrome-conteudo:hover{
    display: block;
    position: absolute;
    max-width: 40vw;
}
.agrometeorologia-img{
    width: 500px;
    height: 500px;
}
.agrometeorologia-img:hover ~ .agrome-conteudo{
    display: block;
    position: flex;
    max-width: 40vw;
}


.biotec-conteudo{
    display:none;
    position: absolute;
    max-width: 40vw;
    background-color: white;
    top: 1080px;
}
.biotec-conteudo:hover{
    display: block;
    position: absolute;
}
.biotec-img{
    width: 500px;
    height: 500px;
}
.biotec-img:hover ~ .biotec-conteudo{
    display: block;
    position: absolute;
}



.cursos-basicos-estrutura2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: inherit;
}

.fisiologVA-conteudo{
    display: none;
    position: absolute;
    max-width: 40vw;
    top: 1650px;
    background-color: white;
}
.fisiologVA-conteudo:hover{
    display: block;
    position: absolute;
    max-width: 40vw;
}
.fisiologVA-img{
    width: 500px;
    height: 500px;
}
.fisiologVA-img:hover ~ .fisiologVA-conteudo{
    display: block;
    position: absolute;
}


.cartografia-conteudo{
    display: none;
    position: absolute;
    max-width: 40vw;
    top: 1650px;
}
.cartografia-conteudo:hover{
    display: block;
    position: absolute;
    max-width: 40vw;
}
.cartigrafia-img{
    width: 500px;
    height: 500px;
}
.cartografia-img:hover ~ .cartografia-conteudo{
    display: block;
    position: absolute;
}



.adquira-mais-lista{
    list-style: circle;
    padding: 20px;
}

.conteudo-adquirir-mais{
    padding: 10px;
}



.lista-botao{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#planos{
    display: flex;
    justify-content: center;
    align-items: start
}
.planos-lista-item{
   
    padding: 15px;
    border-radius: 10px;
}
.adquirir{
    background-color: #bcd1b7;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
.botao-adquirir button{
    font-size: 20px;
    padding: 5px;
    border: none;
    width: 100px;
    background-color: #46aa2e;
    color: #bcd1b7;
    border-radius: 10px;
}
.planos-lista-item:hover{
    background-color: #46aa2e;
    color: #bcd1b7;
    transition: all 1s;
}
.plano-tipo{
    padding: 5px;
    margin: 10px;
    max-width: 400px;
    width: 100%;
}

.planos-definicao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    max-width: 100vw;
    padding: 25px;
   
}


