*{margin: 0;
    padding: 0;
}

.cabecalho-logo-img{
    width: 70px;
}
.cabecalho{
    background-color: var(--cor-cabecalho);
    margin: 5px auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
}
.cabecalho-menu-lista{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5px;
    margin: 0;
    width: 400px;
}
.primeiro-cabecalho{
    display: flex;
    align-items: center;
}
.menu-lista-item{
    list-style: none;
    background-color: var(--cor-padrao);
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
}
.input-pesquisa{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.input-pesquisa:focus{
    box-shadow: none;
}
.menu-lista-item:hover{
    transition: all 1s;
background-color:  #78aa6b;
}
.usuario:hover{
    transition: all 1s;
    background-color: rgb(132, 184, 129);
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color:black
}
div.usuario{
    display: flex;
    background-color: var(--cor-padrao);
    padding: 10px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.cabecalho-menu-usuario{
    display: none;
    position: absolute;
    background-color: var(--cor-cabecalho);
    list-style: none;
    width: 100%;
    max-width: 200px;
}
.cabecalho-menu-usuario:hover{
    display: block;
    position: absolute;
    background-color: var(--cor-padrao);
    list-style: none;
}
.usuario img{
    width: 24px;
}
.usuario:hover ~ .cabecalho-menu-usuario {
    display: block;
    position: absolute;
    transition-duration: 2.5s;
    transition-property: all;
}
.usu-menu-lista-item{
    background-color: white;
    padding: 1em;
}
